<% include ../partials/header %>

<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css' type='text/css' />

    <div class="row">
        <h1 style="text-align: center;">Edit <%= campground.name %></h1>
        <div style="width: 50%; margin: 25px auto; ">
            <!--    ?_method=PUT" method="POST" it is this way because HTML doesn't support PUT method, need to use Method-Override module    -->
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="campgroundUpdateForm[name]" value="<%= campground.name %>">
                </div>
                <div class="form-group">
                    <!-- Type number allows only the input of numbers, min value is 0.00 -->
                    <input class="form-control" type="number" name="campgroundUpdateForm[price]" min="0.00" step="0.01" value="<%= campground.price %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="campgroundUpdateForm[image]" value="<%= campground.image %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="campgroundUpdateForm[description]" value="<%= campground.description%>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" id="coordinatesLat" name="campgroundUpdateForm[lat]" placeholder="<%= campground.lat %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" id="coordinatesLng" name="campgroundUpdateForm[lng]" placeholder="<%= campground.lng %>">
                </div>
                <div class="form-group">
                    <div id='mapHigher'></div> 
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-default btn-block btn-primary">Submit edit</button>
                </div>
            </form> 
            <a href="/campgrounds">Go back to campgrounds</a>
        </div>
    </div>
    

    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoibmlrYWxzc29uIiwiYSI6ImNqbnloaTZ0NjBjcmYzcnEwdDQ1ZG55aTUifQ.qnWCtcqiLN8i_wl9XvfyCA';
        var map = new mapboxgl.Map({
            container: 'mapHigher',
            style: 'mapbox://styles/mapbox/streets-v9',
            center: [0, 0],
            zoom: 1
        });
        
        var geocoder = new MapboxGeocoder({
            accessToken: mapboxgl.accessToken
        });
        
        map.addControl(geocoder);

        // After looking up an address on the geocoder, create draggable marker that updates lngLat
            map.on('load', function() {
        
            geocoder.on('result', function(ev) {

                var marker = new mapboxgl.Marker({
                    draggable: true
                })
                .setLngLat([ev.result.geometry.coordinates[0], ev.result.geometry.coordinates[1]])
                .addTo(map);
            
                function onDragEnd() {
                    var lngLat = marker.getLngLat();
                    var lat = (parseFloat(lngLat.lat));
                    var lng = (parseFloat(lngLat.lng));
                    document.getElementById('coordinatesLat').value=lat;
                    document.getElementById('coordinatesLng').value=lng;

                }
            
            marker.on('dragend', onDragEnd);

            
            });
        });
    </script>

<% include ../partials/footer %>